#app {
    background-color: aquamarine;
}

#game {
    background-color: burlywood;
}

#chatbot {
    background-color:coral;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

body {
    text-align: center;
}